@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$primary-button-color: #673ab7;
$primary-indication-color: rgb(217,48,37);
$secondary-font-color: #1a73e8;
$email-font-color: #5f6368;
$secondary-background-color:#f8f9fa;
$gap-between-forms: 12px;
.mainForm{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 90vw;
    width: 640px;
}
.header{
    margin-top: $gap-between-forms;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:8px;
    border: 1px solid #dadce0;
    page-break-inside: avoid;
    word-wrap: break-word;
}
.banner{
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
    overflow: hidden;
    height: 10px;
    background-color: $primary-button-color;
}
.line1{
    height: 1px;
    background: #dadce0;
}
.heading{
margin: 10px 24px;
font-family: 'Roboto', sans-serif;
font-size: 24pt;
}
.headerBody{
    display: flex;
    flex-direction: column;
}
.bodyHeading{
    margin: 0px 24px 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .email{
        font-family:'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: .2px;
        line-height: 20px;
        font-weight: 700 !important;
        color: #5f6368;

        button {
            border: 0;
            background: none;
            color: #1a73e8;
            font-weight: 400;
        }
        button:hover{
            cursor: pointer;
        }
    }
}

.bodyContent{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    margin: 0px 24px 12px 24px;
    color: #5f6368
}
.footer{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: -2px;
    margin-bottom: -2px;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(217,48,37);
}
.questionContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:8px;
    border: 1px solid #dadce0;
    padding: 28px;
    page-break-inside: avoid;
    word-wrap: break-word;
}

.questionHeading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 16px;

    span{
        padding-left: 0.25em;
        color: rgb(217,48,37);
    }
}

.MuiCheckbox-root {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
  }
  
  .shortAnswerInput{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    width: 50%;
  }
  .paragraphAnswerInput{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    width: 100%;
    word-wrap: break-word;
  }

.dropdown{
    width: 30%;

}
.selectDropDown{
    padding: 0 !important;
}
.fileUploadButton{
    font-family: 'Roboto', sans-serif;
    color: #1a73e8 !important;
    font-size: 14px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
    text-transform: capitalize !important;
    font-weight: 500 !important;

    .fileUploadIcon{
        height: 18px !important;
        width: 18px !important;
    }
}
.linearScaleWrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-end;
}
.range{
    padding-bottom: 10px;
}

.multiChoiceMainContent{
    display: flex;
    flex-direction: column;
}

.headingRow{
    display: flex;
    flex-direction: row;
    padding: 8px;
    div{
        flex: 1;
    }
}

.rows{
    margin-top: 5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    div{
        margin: auto;
    }
}
.eachRowLabel{
    width: 75%;
}

.rowGroup{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.FormControlClass{
    width: 100%;
}

.mainFooterContainer{
    display: flex;
    flex-direction: column;
}
.mainFooterHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .submitButton{
        flex:1;
        background-color: #673ab7;
        color: white;
        padding:0px;
        text-transform: capitalize;
        font-size: 14px;
        cursor: pointer;
        letter-spacing: .25px;
        line-height: 36px;
    }

    .pageNoIndicator{
        flex:4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .pageNoProgress{
            width: 40%;
            height: 10px;
            border-radius: 40px;
            background-color: #34a853 ;
        }
        p{
            padding: 0  12px;
            font-size: 14px;
            letter-spacing: .2px;
            line-height: 20px;
            color: #202124;
            display: inline-block;
        }

    }

    .clearFormButton{
        flex: 1;
        color: #673ab7;
        padding: 0px;
        text-transform: capitalize;
        font-size: 14px;
        cursor: pointer;
        letter-spacing: .25px;
        line-height: 36px;
    }
}

.mainFooterBody{
    display: flex;
    flex-direction: column;

    .neverSubmitPassword{
        margin:8px 0px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .3px;
        line-height: 16px;
        color: rgba(0,0,0,0.66);

    }

    .thisContent{
        font-size: 12px;
        font-weight: 400;
        margin: 14px 0;
        padding: 0 15px;
        text-align: center;
        color: rgba(0,0,0,0.66);

        a{
            color: rgba(0,0,0,0.66);
        }


    }

}

.mainFooterFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23.1px;

    p{

        color:#5a595e;
        font-weight: 500;

        span{
        align-items: center;
        justify-content: center;
        color:#6c6a70;
        font-weight:400;
        font-size: 23.1px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 1px;
        }
    }
}